<div class="container-fluid">
  <div class="container my-5">
    <div class="row text-center">
      <div class="col-md-4">
        <button class="btn btn-info"  [hidden]="!edit">Edit</button>
        <button class="btn btn-info" [hidden]="!update">Update</button>
      </div>
      <div class="col-md-4">
        <h3><b>User: {{localdata.name}}</b></h3>
      </div>
      <div class="col-md-4">
        <button class="btn btn-info" (click)="logOut()">Logout</button>
      </div>
    </div>
  </div>
  <hr>

  <!-- <div class="container-fluid">
    <form [formGroup]="dynamicForm">
      <div formArrayName="items" *ngFor="let item of getControl('items').controls; let i = index;">
      <ng-container 
      [formGroupName]="getFromGroup(item, i)"
      *ngFor="let seconditem of getSecondControl(item,i); let j = index;">
        <div *ngFor="let item of getThirdControl(seconditem, j)">
          <input [formControlName]="item" placeholder="Item name" [value]="seconditem.value">
        </div>
      </ng-container>
      </div>
    </form>
  </div> -->